@{
    ViewData["Title"] = "Andrew Stoddard Monthly Payment Calculator";
}

<div class="container">
    <header class="jumbotron">
        <h1 class="mt-lg-2">@ViewBag.Title</h1>
    </header>
    <main>

    </main>
</div>
